# Version control
.git/
.gitignore

# Dependency
node_modules/

# Build
dist/

# OS
.DS_Store

# IDE / Code editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env*
